@page "/work"

@inject ItemsService itemsService
@inject NavigationManager UriHelper

<PageTitle>Todo Kanban - Work</PageTitle>

<h1 class="text-white" style="text-align:center">Work Todo</h1>


<SfKanban @ref="@sfKanbanRef" TValue="Item" KeyField="Status" DataSource="@Tasks">
    <KanbanColumns>
        <KanbanColumn HeaderText="Open" KeyField="@(new List<string>() {"Open"})"></KanbanColumn>
        <KanbanColumn HeaderText="In Progress" KeyField="@(new List<string>() {"InProgress"})"></KanbanColumn>
        <KanbanColumn HeaderText="Done" KeyField="@(new List<string>() {"Close"})"></KanbanColumn>
    </KanbanColumns>
    <KanbanCardSettings HeaderField="Title" ContentField="Notes" GrabberField="Color" TagsField="CardTags"></KanbanCardSettings>
    <KanbanSwimlaneSettings KeyField="RelatedTo" AllowDragAndDrop="false"></KanbanSwimlaneSettings>
    <KanbanEvents TValue="Item" DialogOpen="@OnDialogOpen" CardDoubleClick="@CardDoubleClickHandler" DragStop="@DragStopHandler"></KanbanEvents>
</SfKanban>

@code {
    SfKanban<Item>? sfKanbanRef;
    private List<Item>? Tasks;

    protected override void OnInitialized()
    {
        Tasks = itemsService.GetItems(1);
        base.OnInitialized();
    }

    public void DragStopHandler(DragEventArgs<Item> args)
    {
        itemsService.Save(args.Data);
    }

    private void OnDialogOpen(DialogOpenEventArgs<Item> args)
    {
        args.Cancel = true;

    }

    public void CardDoubleClickHandler(CardClickEventArgs<Item> args)
    {
        UriHelper.NavigateTo("/upsert/" + args.Data.Id + "/" + args.Data.ListId, true);
    }

}
